[submodule "external/embree"]
	path = external/embree
	url = https://github.com/embree/embree.git
[submodule "external/xatlas"]
	path = external/xatlas
	url = https://github.com/jpcy/xatlas.git
[submodule "external/dwSampleFramework"]
	path = external/dwSampleFramework
	url = https://github.com/diharaw/dwSampleFramework.git
[submodule "external/oidn"]
	path = external/oidn
	url = https://github.com/OpenImageDenoise/oidn.git
[submodule "external/dwThreadPool"]
	path = external/dwThreadPool
	url = https://github.com/diharaw/dwThreadPool.git
